.editWrapper {
  display: flex;
  margin: 5px 0;
}

.editModeWrapper {
  border-radius: 4px;
  border: 1px solid black;
  width: 200px;
  display: flex;
  justify-content: space-between;
  padding: 3px;
  font-size: 14px;
  margin: 5px 0;
}
