.formWrapper {
  display: flex;
  justify-content: center;
  background: #fff;
  border-radius: 6px;
  padding: 40px;
}

.form {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.formHeader {
  font-weight: 200;
  font-size: 24px;
  margin-bottom: 40px;
}

.fieldWrapper {
  display: flex;
  flex-flow: column;
}

.fieldLabel {
  color: #9E9EA2;
  font-size: 12px;
  font-weight: bold;

  width: 100%;
  margin: 5px 0;
}

.field {
  border-radius: 4px;
  border: 1px solid #9E9EA2;
  height: 25px;
  width: 225px;
}

.errorMessage {
  width: 100%;
  font-size: 12px;
  font-weight: bold;
  color: red;
}
